openapi: "3.1.0"
info:
  title: Census Management API
  version: "0.1"
servers:
  - url: https://app.getcensus.com
components:
  parameters:
    model_id:
      in: path
      name: model_id
      required: true
      schema:
        type: string
    source_id:
      in: path
      name: source_id
      required: true
      schema:
        type: string
  schemas:
    ResponseStatus:
      type: string
      enum:
        - success
        - updated
        - created
        - deleted
        - not_found
        - error
    CreateSourceBody:
      type: object
      properties:
        connection:
          type: object
          properties:
            type:
              type: string
              description: The type of the data source. A valid type is the service_name of a source type returned from the /source_types endpoint, where the source type is marked as creatable_via_api.
            sync_engine:
              type: string
              description: The sync engine type for this source. Can only be set during creation and cannot be modified after.
            label:
              type: string
              description: An optional label that can be assigned to the source for better categorization or identification.
              nullable: true
            credentials:
              description: Credentials that should be associated with this source (e.g. hostname, port)
          required:
            - type
      required:
        - connection
    UpdateSourceBody:
      type: object
      properties:
        connection:
          type: object
          properties:
            label:
              type: string
              description: An optional label that can be assigned to the source for better categorization or identification.
              nullable: true
            credentials:
              description: Credentials that should be associated with this source (e.g. hostname, port)
      required:
        - connection
    SourceData:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: The unique identifier of the source.
        name:
          type: string
          description: The name assigned to this source, typically a combination of type and location.
        type:
          type: string
          description: The type of the data source. A valid type is the service_name of a source type returned from the /source_types endpoint, where the source type is marked as creatable_via_api.
        sync_engine:
          type: string
          description: The sync engine type for this source.
        label:
          type: string
          description: An optional label that can be assigned to the source for better categorization or identification.
          nullable: true
        connection_details: {}
        created_at:
          type: string
          format: date-time
          description: The timestamp when the source was created.
        last_test_succeeded:
          type: boolean
          description: Indicates if the last connection test to this source was successful.
          nullable: true
        last_tested_at:
          type: string
          format: date-time
          description: Timestamp of when the last connection test was conducted on this source.
          nullable: true
      required:
        - id
        - type
        - name
        - label
        - created_at
    CreateSourceModelBody:
      type: object
      properties:
        name:
          type: string
          description: The name of the model.
        query:
          type: string
          description: The SQL query associated with this model.
        description:
          type: string
          description: The description for this model.
      required:
        - name
        - query
    UpdateSourceModelBody:
      type: object
      properties:
        name:
          type: string
          description: The name of the model.
        query:
          type: string
          description: The SQL query associated with this model.
        description:
          type: string
          description: The description for this model.
    SourceModelData:
      type: object
      properties:
        type:
          type: string
          enum:
            - model
        id:
          type: integer
          format: int64
          description: The id of this model.
        name:
          type: string
          description: The name of this model.
        dataset_id:
          type: integer
          format: int64
          nullable: true
          description: The identifier for the dataset that corresponds to this model.
        description:
          type: string
          description: The description for this model.
        query:
          type: string
          description: The SQL query associated with this model.
        created_at:
          type: string
          format: date-time
          description: When this model was created.
        updated_at:
          type: string
          format: date-time
          description: When this model was last updated.
      required:
        - type
        - id
        - name
        - query
        - created_at
  securitySchemes:
    workspaceApiKey:
      type: http
      scheme: bearer
      bearerFormat: Census Workspace API Key
  responses:
    statusResponse:
      description: Status response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                oneOf:
                  - $ref: "#/components/schemas/ResponseStatus"
                  - type: integer
              message:
                type: string
            required:
              - status
    idResponse:
      description: A resource id
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: "#/components/schemas/ResponseStatus"
              data:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                required:
                  - id
            required:
              - status
              - data
    sourceResponse:
      description: A source
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: "#/components/schemas/ResponseStatus"
              data:
                $ref: "#/components/schemas/SourceData"
            required:
              - status
              - data
    sourceModelResponse:
      description: A source model
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: "#/components/schemas/ResponseStatus"
              data:
                $ref: "#/components/schemas/SourceModelData"
            required:
              - status
              - data
security:
  - workspaceApiKey: []
paths:
  /api/v1:
    get:
      operationId: getApiV1
      responses:
        default:
          $ref: "#/components/responses/statusResponse"
  /api/v1/sources:
    post:
      operationId: createSource
      summary: Create Source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceBody"
      responses:
        2XX:
          $ref: "#/components/responses/idResponse"
        default:
          $ref: "#/components/responses/statusResponse"
  /api/v1/sources/{source_id}:
    parameters:
      - $ref: "#/components/parameters/source_id"
    get:
      operationId: getSource
      summary: Fetch source
      responses:
        2XX:
          $ref: "#/components/responses/sourceResponse"
        default:
          $ref: "#/components/responses/statusResponse"
    put:
      operationId: updateSource
      summary: Update source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSourceBody"
      responses:
        2XX:
          $ref: "#/components/responses/sourceResponse"
        default:
          $ref: "#/components/responses/statusResponse"
    delete:
      operationId: deleteSource
      summary: Delete source
      responses:
        2XX:
          $ref: "#/components/responses/statusResponse"
        default:
          $ref: "#/components/responses/statusResponse"
  /api/v1/sources/{source_id}/models:
    parameters:
      - $ref: "#/components/parameters/source_id"
    post:
      operationId: createSourceModel
      summary: Create source model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceModelBody"
      responses:
        2XX:
          $ref: "#/components/responses/idResponse"
        default:
          $ref: "#/components/responses/statusResponse"
  /api/v1/sources/{source_id}/models/{model_id}:
    parameters:
      - $ref: "#/components/parameters/source_id"
      - $ref: "#/components/parameters/model_id"
    get:
      operationId: getSourceModel
      summary: Fetch source model
      responses:
        2XX:
          $ref: "#/components/responses/sourceModelResponse"
        default:
          $ref: "#/components/responses/statusResponse"
    patch:
      operationId: updateSourceModel
      summary: Update source model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSourceModelBody"
      responses:
        2XX:
          $ref: "#/components/responses/sourceModelResponse"
        default:
          $ref: "#/components/responses/statusResponse"
    delete:
      operationId: deleteSourceModel
      summary: Delete source model
      responses:
        2XX:
          $ref: "#/components/responses/statusResponse"
        default:
          $ref: "#/components/responses/statusResponse"
